# Node / React
frontend/node_modules
frontend/build

# Python / Flask
backend/venv
backend/*.pyc
__pycache__/

# Environment files
*.env
*.env.local

# React / Node
frontend/node_modules/
frontend/.cache/
node_modules/
